<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Vutu</string>
	<key>NSHumanReadableCopyright</key>
	<string>2022 Madrona Labs LLC</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>vutu.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.madronalabs.vutu</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleVersion</key>
	<string>0.9.6</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.6</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
